In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from helper_functions import do_pca, scree_plot, plot_components, pca_results
from IPython import display
import test_code2 as t

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

df = pd.read_csv('./data/cars.csv')

In [2]:
df.head()

,Sports,SUV,Wagon,Minivan,Pickup,AWD,RWD,Retail,Dealer,Engine,Cylinders,Horsepower,CityMPG,HighwayMPG,Weight,Wheelbase,Length,Width
Acura 3.5 RL,0,0,0,0,0,0,0,43755,39014,3.5,6,225,18,24,3880,115,197,72
Acura 3.5 RL Navigation,0,0,0,0,0,0,0,46100,41100,3.5,6,225,18,24,3893,115,197,72
Acura MDX,0,1,0,0,0,1,0,36945,33337,3.5,6,265,17,23,4451,106,189,77
Acura NSX S,1,0,0,0,0,0,1,89765,79978,3.2,6,290,17,24,3153,100,174,71
Acura RSX,0,0,0,0,0,0,0,23820,21761,2.0,4,200,24,31,2778,101,172,68

In [7]:
len(df.iloc[0])

18

In [11]:
len(df[df['Minivan'] == 1])/ len(df['Minivan'])

0.05426356589147287

In [13]:
df['HighwayMPG'].max()

66

In [14]:
a = 7
b = 66
c = 387
d = 18
e = 0.23
f = 0.05

solution_1_dict = {
    'The number of cars in the dataset':  c,
    'The number of car features in the dataset':d,
    'The number of dummy variables in the dataset': a,
    'The proportion of minivans in the dataset': f,
    'The max highway mpg for any car':b 
}

In [15]:
# Check your solution against ours by running this cell
display.HTML(t.check_question_one(solution_1_dict))

Nice job!  Looks like your dataset matches what we found!

In [16]:
scaled_df = StandardScaler().fit_transform(df)

In [18]:
pca = PCA(3)
X_pca = pca.fit_transform(scaled_df)
X_pca

array([[-1.3407057 , -0.50545972, -0.73915302],
       [-1.4077333 , -0.42751187, -0.73420758],
       [-2.2799534 , -1.51801955,  2.49086769],
       ...,
       [ 2.58874602,  0.11050253,  0.29019599],
       [ 0.00518409, -0.81969819,  1.19121204],
       [-2.67612795, -1.58019347,  2.53650317]])

In [19]:
Explained = pca.explained_variance_ratio_

In [22]:
Explained.sum()

0.705412866026896

In [26]:
for i in range(1,100):
    pca = PCA(i)
    X_pca = pca.fit_transform(scaled_df)
    Explained = pca.explained_variance_ratio_
    summ = Explained.sum()
    print(summ)
    if summ > 0.85:
        print (i)
        break

0.43523581074157763
0.6019719006202362
0.705412866026896
0.7685122291942386
0.8240656153204096
0.8682760591473635
6